@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
  @apply font-light;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

button {
  @apply border-2 shadow-md border-purple-400 border-solid rounded-lg text-purple-800 px-4 py-2 text-sm duration-300 ease-in-out;
  @apply hover:translate-x-20 hover:shadow-lg;
}

@media screen and (max-width: 1050px) {
  .header button {
    display: none;
  }

  .header {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
  }
}
